body {
  margin: 0;
  overscroll-behavior: none; /* Disable Chrome two fingers back/forward swipe */
  background-color: #222222;
  color: white;
  user-select: none;  /* Prevent accidental selection while dragging mouse */

  background-image: linear-gradient(   0deg, #aaa1 1px, transparent 1px ), 
                    linear-gradient(  90deg, #aaa1 1px, transparent 1px ),
                    linear-gradient( 180deg, #aaa1 1px, transparent 1px ),
                    linear-gradient( 270deg, #aaa1 1px, transparent 1px );
  background-size: 32px 32px;
}