body {
  margin: 0;
  overscroll-behavior: none; /* Disable Chrome two fingers back/forward swipe */
  user-select: none;  /* Prevent accidental selection while dragging mouse */
  touch-action: none;
  overflow: hidden;

  background-color: #321;
  color: white;
  font-family: sans-serif;
  font-size: 14;
  text-shadow: black 1px 1px;
}

div { position: absolute; }

.center {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#victory {
  font-size: 26;
  visibility: hidden;
}