body {
  margin: 0;
  overscroll-behavior: none; /* Disable Chrome two fingers back/forward swipe */
  user-select: none;  /* Prevent accidental selection while dragging mouse */
  touch-action: none;

  background-color: #222222;
  color: white;

  --light: #aaa3;

  background-image: linear-gradient(   0deg, var( --light ) 1px, transparent 1px ), 
                    linear-gradient(  90deg, var( --light ) 1px, transparent 1px ),
                    linear-gradient( 180deg, var( --light ) 1px, transparent 1px ),
                    linear-gradient( 270deg, var( --light ) 1px, transparent 1px );
  background-size: 32px 32px;
}